{
    "parserOptions": {
      "ecmaVersion": 2018
    },
    "overrides": [
      {
        "files": "./**.js",
        "extends": ["@pizzacat83/eslint-config/nodeapp"]
      },
      {
        "files": "**.ts",
        "extends": ["@pizzacat83/eslint-config/typescript-nodeapp"],
        "parserOptions": {
          "project": "./tsconfig.json"
        },
        "env": {
          "jest": true
        },
        "rules": {
        }
      }
    ]
  }
  