{
    "extends": ["@pizzacat83/eslint-config/typescript"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "env": {
        "jest": true
    },
    "rules": {
      // You should use context for logging
      "no-console": "error"
    }
}
