{
    "extends": ["@pizzacat83/eslint-config/typescript"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "settings": {
        "import/resolver": {
          "node": {
            "extensions": [
              ".js",
              ".jsx",
              ".json",
              ".ts",
              ".tsx"
            ]
          }
        }
      },
    "env": {
        "jest": true
    },
    "rules": {
    }
}
